$options: #365899;
$title: #1d2129;

.notifications {
  .icon {
    position: relative;
    height: 35px;
    width: 45px;
    color:aliceblue;
    box-sizing: border-box;

    .image {
      height: 39px;
      width: 39px;
      cursor: pointer;
    }

    .count {
      height: 17px;
      width: 17px;
      max-width: 17px;
      min-height: 17px;
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: -2px;
      right: 0;
      font-size: 14px;
      border-radius: 40%;
      background-color: blue;
      font-weight: 400;
      color: white;
    }
  }

  .container {
    color: $title;
    border: 1px solid rgba(100, 100, 100, 0.4);
    width: 350px;
    height: 350px;
    font-size: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 1;
    background-color: white;

    .header {
      color: $title;
      display: flex;
      justify-content: space-between;
      padding: 8px;

      .header-title {
        color: $title;
        font-weight: bold;
      }

      .header-option {
        margin: 0 5px;
        color: $options;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    .items {
      height: 300px;
      overflow-y: auto;

      .loader {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .empty-notifications {
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;
    }

    .footer {
      text-align: center;
      padding: 5px;
      color: $options;
      text-transform: capitalize;
      font-weight: bold;

      .see-all {
        cursor: pointer;
        color: $options;
      }
    }
  }
}
