
@import '~antd/dist/antd.css';
.chat-box{
    width : 300px;
    border : 1px solid rgba($color: #333333, $alpha: 0.3);
    border-bottom: 0px;
    
    .header{
        padding: 5px;
        display: flex;
        flex-direction: row;
        height: 30px;
        border-bottom: 1px solid rgba($color: #333333, $alpha: 0.3); ;
    }
    .contents{
        height: 400px;
    }
}
